In [1]:
import os
import utils
import pandas as pd
import data_info, data_plot

from tqdm.notebook import tqdm
from datatable import dt, f
from data_load import load_sihsus

In [2]:
tabelas = load_sihsus()
tabelas

Downloaded at: data/SIHSUS.zip

                         Arquivo  UF   Ano Mês Parto Linhas Colunas
369   AC_2008_01_cir_103_198.jay  AC  2008  01   cir    103     198
368   AC_2008_01_nat_546_198.jay  AC  2008  01   nat    546     198
361   AC_2008_02_cir_125_198.jay  AC  2008  02   cir    125     198
360   AC_2008_02_nat_607_198.jay  AC  2008  02   nat    607     198
367   AC_2008_03_cir_199_198.jay  AC  2008  03   cir    199     198
...                          ...  ..   ...  ..   ...    ...     ...
1832  TO_2021_05_nat_714_221.jay  TO  2021  05   nat    714     221
1825  TO_2021_06_cir_617_221.jay  TO  2021  06   cir    617     221
1824  TO_2021_06_nat_726_221.jay  TO  2021  06   nat    726     221
1821  TO_2021_07_cir_611_221.jay  TO  2021  07   cir    611     221
1820  TO_2021_07_nat_863_221.jay  TO  2021  07   nat    863     221

[8800 rows x 7 columns]

In [ ]:
meses_faltantes = data_info.months_per_year_uf(tabelas)
data_plot.heatmap(meses_faltantes)