---
title: "Distâncias"
---

In [1]:
from utils import get_path, group_cols
from datatable import dt, f

# Descrição

Neste notebook iremos formar uma tabela contendo o tempo e distância de todos os pares origem e destino de municípios do Brasil oriundo da tabela de procedimentos.

# Tabelas base

## Tabela Distâncias

### Colunas

### Carregando tabela

In [2]:
path_dist = get_path('DISTANCIAS', 'distancias.jay')
df_dist = dt.fread(path_dist)
df_dist

### Convertendo pra minutos

In [3]:
df_dist[:, dt.update(tempo = f.tempo * 60)]
df_dist

### Renomeando colunas

In [4]:
df_dist.names = {
  'distancia': 'distancia (km)',
  'tempo': 'tempo (min)'}
df_dist

## Tabela Procedimentos

### Colunas da tabela

In [5]:
cols_sih = {
  'cod_municipio': 'origem',
  'hosp_cod_municipio': 'destino',
}

### Carregando tabela

In [6]:
path_sih = get_path('SIH', 'sih.jay')
df_sih = dt.fread(path_sih)
df_sih = df_sih[:, list(cols_sih)]
df_sih.names = cols_sih
df_sih

### Tabela agrupada

In [7]:
df_sih = group_cols(df_sih, list(cols_sih.values()))
df_sih = df_sih.sort(-f.count)
df_sih

# Gerando tabela

In [8]:
df_dist.key = ['origem', 'destino']
df_dist

In [9]:
df_dist = df_sih[:, :, dt.join(df_dist)]
cols_order = ['origem', 'destino', 'distancia (km)', 'tempo (min)', 'count']
df_dist = df_dist[:, cols_order]
df_dist

# Exportando tabela

In [10]:
output_dist = get_path('DISTANCIAS', 'distancias.csv.gzip')
df_dist.to_csv(output_dist)

In [11]:
dt.fread(output_dist)